.transition {
  background-color: #000;
  .page {
    background-color: #fff;
  }

  .slide {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
}
