.addservicemodal__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.addservicemodal__options {
  width: 100px;
}
.addservicemodal__inputs {
  border: 1px solid #000;
  height: 28px;
  padding: 0 15px;
  box-sizing: border-box;
}
.popupwithform-addservicemodal {
  display: flex;
}
.addservicemodal__img {
  width: 100px;
  height: 100px;
  /* position: absolute; */
  /* z-index: 0; */
}

.addservicemodal__upload-file {
  /* display: none; */
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.addservicemodal__upld-container {
  position: relative;
}
